@model List<Player>
@{ 
    ViewData["Title"] = "Configuration Page";
    int index = default;
    int position = 1;
}

<div class="text-center mt-5">
    <h1 class="display-4">Настраиваем игру...</h1>
    <hr />
    <div class="mt-5">
        <form asp-action="StartGame" asp-controller="Home" method="post">
            @foreach (var player in Model)
            {
                <input type="hidden" asp-for="@Model[@index].ID" value="@(++IdentifierGenerator.Identifier)" />
                <input type="hidden" asp-for="@Model[@index].IsInGame" value="@true" />

                <div class="form-group">
                    <label class="font-weight-bold" asp-for="@Model[index].Name">Имя @(position)-го игрока:</label>
                    <input class="form-control mb-3" type="text" asp-for="@Model[index].Name" required />
                </div>
                position++;
                index++;
            }
            <button class="btn btn-sm btn-success" type="submit">Начать игру!</button>
        </form>
    </div>
    <hr />
</div>