@model GameViewComponent
@{ 
    ViewData["Title"] = "Game Page";

    bool IsAnchorEnabled(Player player) => player.ShotCount != GameContext.CountOfShots; 
    bool IsCancelAnchorEnabled(Player player) => player.ShotCount > 0;

    Question GetRandomQuestion()
    {
        var random = new Random();
        return Model.Questions[random.Next(0, Model.Questions.Count)];
    }

    Question question = Model.IsQuestionChangeed ? 
        GetRandomQuestion() : Model.Questions.Where(q => q.ID == Model.QuestionID).First();
}

<div class="text-center align-items-center mt-5">
    <hr />
    <div class="mt-5">
        <div>
            <h5 class="display-4 mb-5">@question.Text</h5>
            <a class="btn btn-block btn-outline-primary"
               asp-action="ChangeQuestion"
               asp-controller="Home"
               asp-route-id="@question.ID">Следущий вопрос...</a>

        </div>
    </div>
    <hr />

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Игрок</th>
                <th>Баллы</th>
                <th>Очки</th>
                <th>@string.Empty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                @if (player.IsInGame)
                {
                    <tr class="font-weight-bold">
                        <td>@player.Name</td>
                        <td>@player.ShotCount</td>
                        <td>@player.Score</td>
                        <td>
                            @if (IsAnchorEnabled(player))
                            {
                                <a class="btn btn-block btn-primary btn-warning"
                                   asp-action="AddShot"
                                   asp-controller="Home"
                                   asp-route-id="@player.ID"
                                   asp-route-questionID="@question.ID">+</a>
                            }
                            else
                            {
                                <a class="btn btn-block btn-success"
                                   asp-action="ChangeScore"
                                   asp-controller="Home" asp-route-id="@player.ID"
                                   asp-route-questionID="@question.ID">Пей!</a>
                            }
                        </td>
                        @if (IsCancelAnchorEnabled(player))
                        {
                            <td>
                                <a class="btn btn-block btn-primary btn-warning"
                                   asp-action="DeleteShot"
                                   asp-controller="Home"
                                   asp-route-id="@player.ID"
                                   asp-route-questionID="@question.ID">-</a>
                            </td>
                        }
                        <td>
                            @if (!IsAnchorEnabled(player))
                            {
                                <a class="btn btn-block btn-danger"
                                   asp-action="ChangeStatus"
                                   asp-controller="Home" asp-route-id="@player.ID"
                                   asp-route-questionID="@question.ID">Отказаться</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>